body {
    margin: 0;
    font-family: 'Nunito Sans';
}

body * {
    box-sizing: border-box;
}

.header {
    background-color: black;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

.navigation_list {
    list-style: none;
    display: flex;
}

.navigation_list_content {
    margin-right: 47px;
}

.navigation_list_content a {
    text-decoration: none;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: white;
}

.logo {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873;
}

.number {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-decoration-line: underline;
    color: #E3B873;
    margin-left: 22px;
    margin-right: 45px;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: 0px;
    padding: 13px 33px;
    outline: 0;
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.stage_one {
    background-image: url(../img/firstpageback.jpg);
    background-size: cover;
    height: 707px;
    padding: 194px 627px 408px 134px;
    position: relative;
}

.stage_one-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.stage_one-container {
    position: relative;
    z-index: 1;
    flex-wrap: wrap;
    max-width: 700px;
    justify-content: flex-start;
}

.title {
    margin: 0;
    font-family:'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.rostov{
    color: #E3B873;
}

.text-description {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    margin-top: 12px;
}

.calculate-button {
    padding: 19px 42px 21px 41px;
    margin-right: 20px;
}

.submit-button {
    padding: 19px 23px 21px 22px;
    background: none;
    border: 1px solid #FFFFFF;
}

.stage_two {
    background-color: black;
}

.stage_two-container {
    position: relative;
    flex-wrap: wrap;
    height: auto;
    justify-content: flex-start;
    max-width: 700px;
}

.city_list {
    list-style: none;
    display: flex;
}

.city_list_unit {
    margin-right: 60px;
}

.city_list_unit a {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #E3B873;
}

.projects {
    margin: 0;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}

.projects_description {
    margin: 0;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}